.start-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 5px;
  padding: 25px 20px; 
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 211);
}

.button-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.start,
.easy,
.medium,
.hard {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front-start,
.front-easy,
.front-medium,
.front-hard {
  display: block;
  border-radius: 12px;
  color: white;
  transform: translateY(-6px);
}

.front-start,
.front-easy,
.front-medium,
.front-hard {
  padding: 15px 25px;
  font-size: 1rem;
}


.start {
  background: hsl(340deg 100% 32%);
  margin-bottom: 15px;
}

.front-start {
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  padding: 40px 60px;
}

.easy {
  background: rgba(137,106,51,255);
}

.front-easy {
  background: rgba(230,155,42,255);
}

.medium {
  background: rgba(66,89,114,255);
  margin-top: 10px;
}

.front-medium {
  font-size: 1rem;
  background: rgba(37,147,203,255);
}

.hard {
  background: rgba(81,113,61,255);
}

.front-hard {
  font-size: 1rem;
  background: rgba(91,178,42,255);
}

.pressed {
  transform: translateY(-2px);
}